@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #f2f4f5;
  font-family: "Inter", sans-serif;
  color: #40526d;
}

.primary-bg {
  background-color: $primary;
}

.selected-bg {
  background-color: $selected-bg;
}

.title-color {
  color: #00193c;
}

.subTitle-color {
  color: #40526d;
}

.disc-color {
  color: #808c9d;
}

.red-color {
  color: $red;
}

.border-red {
  border-color: $red;
}

.green-color {
  color: $green;
}

.blue-color {
  color: $blue;
}

.indigo-color {
  color: $indigo;
}

.primary-color {
  color: $primary;
}

.text-xxs {
  font-size: 10px;
}

.primary-bg {
  background-color: $primary;
}

.primary-border {
  border-color: $primary;
}

.btn-opacity {
  opacity: 0.5;
}

.add-campus-blue-color {
  color: #127eff;
}

input,
textarea {
  background: #fff !important;
}

.c-pipeline {
  margin: 0 0 0 -30px;
}

//scrollbar
.custom-scroll {
  ::-webkit-scrollbar-thumb {
    background: #e4e4e7;
    border-radius: 100px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
}

.rocket-chart {
  &::after {
    content: '';
    height: calc(100% - 25px);
    width: 8px;
    position: absolute;
    background-color: $primary;
    top: 0;
    right: 58px;
    border-radius: 100px;
  }

  &::before {
    content: 'Network wide goal';
    font-size: 10px;
    color: $primary;
    position: absolute;
    right: 58px;
    transform: translate(50%);
    top: -20px;
  }
}



.stepper-head {
  &::before {
    content: "";
    height: 2px;
    width: 80%;
    background: #cbd5e1;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
  }

  .stepper-head-icon {
    background-color: #f2f4f5;
    color: #808c9d;
    z-index: 2;
    padding: 0 8px;

    &.active-step {
      color: $primary;

      .number-round {
        border-color: $primary;
      }
    }

    &.visited-step {
      color: $primary;

      .number-round {
        color: #fff;
        border-color: $primary;
        background-color: $primary;

        &:after {
          content: "✓";
          position: absolute;
          background: #00828a;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100px;
        }
      }
    }
  }
}


.strip-line {
  background-color: #C1CC3C;
  border-radius: 6px;
  width: 72px;
  height: 4px;
  margin-bottom: 4px;
}

.divider_line::before {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e6e8ec;
  z-index: 0;
  left: 0;
}

.text-danger {
  color: $color-error  !important;
}




//dashbord
.line-before:before {
  content: "";
  height: 100%;
  width: 4px;
  position: absolute;
  left: 4px;
  border-radius: 100px;
}

.overdue {
  .line-before:before {
    background-color: $red;
  }
}

.pending {
  .line-before:before {
    background-color: $green;
  }
}

//contacts

.filter-wrap {
  li {
    .img-deactive {
      display: flex;
    }

    .img-active {
      display: none;
    }

    &:hover,
    &.active {
      button {
        color: $primary;
        border-color: $primary;
      }

      .img-deactive {
        display: none;
      }

      .img-active {
        display: flex;
      }
    }
  }
}

label.required:after {
  content: "*";
  color: $red;
  position: relative;
  top: -2px;
  left: 4px;
}

.dropdown-menu-item {

  &:hover,
  &.active {
    background-color: $selected-bg;
    color: $blue;
  }
}

.owner-tab,
.filter-tab {
  .selected {
    background-color: $selected-bg;

    &:after {
      content: "";
      background-image: url("../public/icons/check.svg");
      height: 24px;
      width: 24px;
    }
  }
}

.filter-tab {
  .selected {
    padding-right: 75px;

    .edit-btn {
      display: flex;
    }

    &:after {
      position: absolute;
      right: 50px;
    }
  }
}

.contact_modal_tabs {
  .selected {
    &:after {
      content: "";
      height: 4px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $primary;
      border-radius: 100px;
    }
  }
}

.pagination {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #40526d;

  li.active {
    color: $primary;
    font-weight: 800;
  }

  li.disabled {
    a {
      color: #ccc;
    }
  }
}

#sidebar {
  --tw-translate-x: -100%;
}

#menu-open:checked~#sidebar {
  --tw-translate-x: 0;
}

#menu-open:checked~* #mobile-menu-button {
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

#menu-open:checked~* #menu-open-icon {
  display: none;
}

#menu-open:checked~* #menu-close-icon {
  display: block;
}

.sidebar-wrap {
  margin-top: 0 !important;
}

@media (min-width: 768px) {
  #sidebar {
    --tw-translate-x: 0;
  }
}

@media (max-width: 767.98) {
  aside {
    min-height: 100vh;
    width: 220px;
  }

  #sidebar {
    --tw-translate-x: -100%;
  }
}

.navbar-item {
  .not-active {
    display: block;
  }

  .active {
    display: none;
  }

  &:hover,
  &.active {
    background-color: $selected-bg;

    p {
      color: $primary;
    }

    .not-active {
      display: none;
    }

    .active {
      display: block;
    }
  }
}

.sidebar-dropdown-icon {
  width: 100%;

  p {
    color: #00193c;
  }
}

.pagination {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #40526d;

  li.active {
    color: $primary;
    font-weight: 800;
  }

  li.disabled {
    a {
      color: #ccc;
    }
  }
}

.dropdown-menu-sidebar {
  box-shadow: 0px 0px 4px #00000036;
}

.setting-item {
  .not-active {
    display: flex;
  }

  .active {
    display: none;
  }

  &:hover,
  &.active {
    background-color: #fff;

    p {
      color: $primary;
    }

    .not-active {
      display: none;
    }

    .active {
      display: flex;
    }
  }
}

.loader {
  z-index: 5;

  .folding {

    margin: 20px auto;
    width: 60px;
    height: 60px;
    position: relative;
    transform: rotateZ(45deg);
  }

  .folding .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
  }

  .folding .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    transform-origin: 100% 100%;
  }

  .folding .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);
  }

  .folding .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);
  }

  .folding .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);
  }

  .folding .sk-cube2:before {
    animation-delay: 0.3s;
  }

  .folding .sk-cube3:before {
    animation-delay: 0.6s;
  }

  .folding .sk-cube4:before {
    animation-delay: 0.9s;
  }

  @keyframes sk-foldCubeAngle {

    0%,
    10% {
      transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    }

    25%,
    75% {
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    }

    90%,
    100% {
      transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

}

.enrollment-column::after {
  background-image: url("../public//icons/end-shape.svg");
  background-position: 0px;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(3px 0px 0 #e4e4e7);
}

.enrollment-column::before {
  background-image: url("../public//icons/start-shape.svg");
  background-position: 0px;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(-1px 0px 0 #e4e4e7);
}

.height-80 {
  height: 80vh;
}

.bg-light-gray-dce1e1 {
  background-color: #DCE1E1;
}

input[type="radio"]:checked {
  accent-color: #0891b2;
}



// p {
//   color: $primary;
// }

input[type="radio"]:checked {
  accent-color: #0891b2;
}

#menu-open:checked ~ #sidebar {
  --tw-translate-x: 0;
}

#menu-open:checked ~ * #mobile-menu-button {
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

#menu-open:checked ~ * #menu-open-icon {
  display: none;
}

#menu-open:checked ~ * #menu-close-icon {
  display: block;
}
input[type=checkbox] {
  accent-color: #00828A;
}


.text_color{
  color : #00828A
}