@tailwind base;
@tailwind components;
@tailwind utilities;
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    background-color: #f2f4f5;
    font-family: 'Inter', sans-serif;
    color: #40526D;
}

.primary-bg {
    background-color: $primary;
}

.title-color {
    color: #00193C;
}

.subTitle-color {
    color: #40526D;
}

.disc-color {
    color: #808C9D;
}

.red-color {
    color: $red;
}

.green-color {
    color: $green;
}
.blue-color {
    color: $blue;
}
.indigo-color {
    color: $indigo;
}
.primary-color {
    color: $primary;
}

.text-xxs {
    font-size: 10px;
}

.primary-bg {
    background-color: $primary;
}

.btn-opacity {
    opacity: 0.5;
}

.add-campus-blue-color {
    color: #127EFF;
}

//scrollbar
.custom-scroll {
    ::-webkit-scrollbar-thumb {
        background: #e4e4e7;
        border-radius: 100px;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
}

.divider_line::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #E6E8EC;
    z-index: 0;
    left: 0;
}

.text-danger {
    color: $color-error !important;
}

.stepper-head {
    &::before {
        content: '';
        height: 2px;
        width: 80%;
        background: #cbd5e1;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        transform: translate(-50%, -50%);
    }

    .stepper-head-icon {
        background-color: #f2f4f5;
        color: #808C9D;
        z-index: 2;
        padding: 0 8px;

        &.active-step {
            color: $primary;

            .number-round {
                border-color: $primary;
            }
        }

        &.visited-step {
            color: $primary;

            .number-round {
                color: #fff;
                border-color: $primary;
                background-color: $primary;

                &:after {
                    content: '✓';
                    position: absolute;
                    background: #00828a;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                }
            }
        }
    }
}

//dashbord
.line-before:before {
        content: '';
        height: 100%;
        width: 4px;
        position: absolute;
        left: 4px;
        border-radius: 100px;
}
.overdue {
    .line-before:before {
        background-color: $red;
    }
}
.pending {
    .line-before:before {
        background-color: $green;
    }
}

//contacts

.filter-wrap {
    li {
        .img-deactive {
            display: flex;
        }
        .img-active {
            display: none;
        }
        &:hover ,  &.active {
            button {
                color: $primary;
                border-color: $primary;
            }
            .img-deactive {
                display: none;
            }
            .img-active {
                display: flex;
            }
        }
    }
}

label.required:after {
    content: '*';
    color:$red;
    position: relative;
    top: -2px;
    left: 4px;
}
.dropdown-menu-item {
        &:hover , &.avtive {
               background-color: #f4f4f4;
                   color: $blue;
       }
}
.owner-tab , .filter-tab {
    .selected {
        background-color: #F4F4F4;
        &:after {
            content: '';
            background-image: url("../public/icons/check.svg");
            height: 24px;
            width: 24px;
        }
    }
}

.filter-tab {
    .selected {
        padding-right: 75px;
        .edit-btn {
            display: flex;
        }
        &:after {
            position: absolute;
            right: 50px;
        }
    }
}
.contact_modal_tabs {
    .selected {
        &:after {
            content: '';
            height: 4px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $primary;
            border-radius: 100px;
        }
    }
}

#sidebar {
    --tw-translate-x: -100%;
}

#menu-open:checked~#sidebar {
    --tw-translate-x: 0;
}

#menu-open:checked~* #mobile-menu-button {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}

#menu-open:checked~* #menu-open-icon {
    display: none;
}

#menu-open:checked~* #menu-close-icon {
    display: block;
}
.sidebar-wrap {
    margin-top: 0 !important;
}

@media (min-width: 768px) {
    #sidebar {
        --tw-translate-x: 0;
    }
}

@media (max-width: 767.98) {
    aside {
        min-height: 100vh;
        width: 220px;
    }

    #sidebar {
        --tw-translate-x: -100%;
    }
}

.navbar-item {
    .not-active {
        display: block;
    }

    .active {
        display: none;
    }

    &:hover,
    &.active {
        background-color: #F4F4F4;

        p {
            color: $primary;
        }

        .not-active {
            display: none;
        }

        .active {
            display: block;
        }
    }
}

.sidebar-dropdown-icon {
    width: 100%;

    p {
        color: #00193C;
    }
}

.dropdown-menu-sidebar {
    box-shadow: 0px 0px 4px #00000036;
}
.setting-item {
    .not-active {
        display: flex;
    }

    .active {
        display: none;
    }

    &:hover,
    &.active {
        background-color: #fff;

        p {
            color: $primary;
        }

        .not-active {
            display: none;
        }

        .active {
            display: flex;
        }
    }
}
